<footer class="ui inverted segments">
    {#<div class="ui inverted center aligned segment">#}
        {#<div class="ui tiny images">#}
            {#<img src="/resources/blois-logo.png" alt="" class="ui image">#}
            {#<img src="/resources/agglo-logo.png" alt="" class="ui image">#}
            {#<img src="/resources/centre-logo.png" alt="" class="ui image">#}
        {#</div>#}
    {#</div>#}
    <div class="ui center aligned inverted segment">
        <span class="ui label">
            <img class="ui right spaced image" src="/uploads/embeded/sysmod-min-logo.png">
            Créé par Sysmod-Web
        </span>
    </div>
</footer>