<footer class="ui center aligned inverted segment">
        <span class="ui label">
            Créé par
            <img class="ui right spaced image" src="/resources/logo-sysmod.png">
        </span>
</footer>