<footer class="ui center aligned inverted segment">
        <span class="ui label">
            <img class="ui right spaced image" src="/uploads/embeded/sysmod-min-logo.png">
            Créé par Sysmod-Web
        </span>
</footer>