.gallery-img {
    width: 15.62vw;
    height: 8.79vw;
    margin: 5px;
}

article img[style*="float:left"] {
    margin: 1rem 1rem 1rem 0;
}

article img[style*="float:right"] {
    margin: 1rem 0 1rem 1rem;
}

article img[style*="float: left"] {
    margin: 1rem 1rem 1rem 0;
}

article img[style*="float: right"] {
    margin: 1rem 0 1rem 1rem;
}