{% extends 'base.html.twig' %}

{% block head_title %}
    Se connecter
{% endblock %}

{% block main_title %}
    Espace Administrateur
{% endblock %}
{% block sub_main_title %}
    Connexion
{% endblock %}

{% block body %}

    <section class="ui container center aligned grid">
        <div class="ui left aligned segment" style="margin-top: 150px; min-width: 300px">
            {% if error %}
                <div class="ui red inverted segment">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="ui form" action="{{ path('login') }}" method="post">
                <div class="ui field">
                    <label for="username">Nom d'utilisateur:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="ui field">
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="_password" />
                </div>

                <button class="ui fluid green button" type="submit">Se connecter</button>
            </form>
        </div>
    </section>

{% endblock %}